<p style="color: green"><%= notice %></p>

<h1>Choose your user or create one</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Select", user %>
    </p>
  <% end %>
</div>

<%= link_to "Create new user", new_user_path %>
