<p style="color: green"><%= notice %></p>

<h1>Choose your user or create one</h1>

<table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Action</th>
    </tr>
  </thead>



  <tbody id="users">
    <% @users.each do |user| %>
      <tr>
        <th><%= user.name %></th>
        <th>
          <%= link_to "Select", user %>
        </th>
      </tr>
    <% end %>
  </div>
</table>

<%= link_to "Create new user", new_user_path, class: "btn btn-secondary" %>
