<div id="<%= dom_id appointment %>">
  <p>
    <strong>User:</strong>
    <%= appointment.user_id %>
  </p>

  <p>
    <strong>Coach:</strong>
    <%= appointment.coach_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= appointment.date %>
  </p>

</div>
