<p style="color: green"><%= notice %></p>

<%= render @appointment %>

<div>
  <%= link_to "Back to appointments", user_appointments_path(@user) %>

  <%= button_to "Delete this appointment", user_appointment_path(@user, @appointment), method: :delete %>
</div>
